Source: jrl-dynamics
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake (>=2.6),
	       libabstract-robot-dynamics-dev (>=1.16.0)
Standards-Version: 3.8.4
Vcs-Git: git://github.com/jrl-umi3218/jrl-dynamics.git
Vcs-Browser: http://github.com/jrl-umi3218/jrl-dynamics
Section: libs
Homepage: http://github.com/jrl-umi3218/jrl-dynamics

Package: libjrl-dynamics1.19.1
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: JRL dynamics computation
 This package is an implementation of the abstract interface
 defines by the package abstract robot dynamics. It implements
 the Recursive Newton-Euler Algorithm (RNEA) for controlling robots.
 This current implementation is limited to robot with rotation only.
 .
 This package contains versioned shared libraries.

Package: libjrl-dynamics-dev
Section: libdevel
Architecture: any
Depends: libabstract-robot-dynamics-dev, libjrl-dynamics1.19.1 (= ${binary:Version}), ${misc:Depends}
Description: JRL dynamics computation
 This package is an implementation of the abstract interface
 defines by the package abstract robot dynamics. It implements
 the Recursive Newton-Euler Algorithm (RNEA) for controlling robots.
 This current implementation is limited to robot with rotation only.
 .
 This package contains development files (headers and pkg-config file).

Package: libjrl-dynamics-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: libabstract-robot-dynamics-doc
Description: Documentation for the jrl-dynamics C++ interface
 This package is an implementation of the abstract interface
 defines by the package abstract robot dynamics. It implements
 the Recursive Newton-Euler Algorithm (RNEA) for controlling robots.
 This current implementation is limited to robot with rotation only.
 .
 This package contains the Doxygen documentation.
